@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*==========================================================================
    Reset  - ayomidekay7@gmail.com
  ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

/*==========================================================================
    Global  - ayomidekay7@gmail.com
  ========================================================================== */

:root {
  --violet: rgb(109, 75, 211);
  --lightblue: rgb(83, 224, 244);
  --blue: #2567c1;
  --darkblue: #144180;
  --pastelblue: #a5d5e7;
  --orange: #f9b932;
  --pastelorange: #fad994;
  --green: #d6d500;
  --darkgreen: #65b96f;
  --pastelgreen: #eaea6a;
  --pastelred: #ffad8e;
  --grey: #f8f8f8;
  --lightgrey: #ececec;
  --black: #525252;
  /* rem/pixel measurements */
  --dl-space-space-halfunit: 0.5rem;
  --dl-space-space-halfandquarterunit: 0.8rem;
  --dl-space-space-unit: 1rem;
  --dl-space-space-oneandhalfunits: 1.5rem;
  --dl-space-space-twounits: 2rem;
  --dl-space-space-twoandhalfunits: 2.5rem;
  --dl-space-space-threeunits: 3rem;
  --dl-space-space-fourunits: 4rem;
  --dl-space-space-fiveunits: 5rem;
  --dl-space-space-sixunits: 6rem;
  /* screen sizes */
  --dl-size-size-midmaxwidth: 1344px;
  --dl-size-size-maxwidth: 1400px;
  --dl-size-size-bigtabmaxwidth: 800px;
  --dl-size-size-tabmaxwidth: 710px;
  --dl-size-size-mobilemaxwidth: 480px;
  /* rem sizes (px) */
  --dl-size-size-xsmall: 1rem;
  --dl-size-size-small: 3rem;
  --dl-size-size-medium: 6rem;
  --dl-size-size-large: 9rem;
  --dl-size-size-xlarge: 12rem;
  --dl-size-size-xxlarge: 18rem;
  /* radius */
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-radius-radius-radius10: 10px;
  --dl-radius-radius-round: 50px;
}

.lightblue {
  color: var(--lightblue);
}
.violet {
  color: var(--violet);
}
.darkblue {
  color: var(--darkblue);
}
.orange {
  color: var(--orange);
}
.green {
  color: var(--green);
}

* {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  background: var(--grey);
}

img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
  text-transform: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type='button']:-moz-focus,
[type='reset']:-moz-focus,
[type='submit']:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: var(--black);
  text-decoration: none;
}

.btn-second {
  color: var(--orange);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid var(--orange);
  display: block;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.btn-second:hover {
  background: #ffe4ab;
  cursor: pointer;
}

/*==========================================================================
    Typography  - ayomidekay7@gmail.com
  ========================================================================== */

h1 {
  font-size: 78px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 20px;
}

h2 {
  font-size: 40px;
  margin-bottom: 25px;
}

h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  margin: 30px 0;
}

h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  margin: 30px 0;
}

em {
  font-style: normal;
  font-weight: 400;
}

/*==========================================================================
    Container & Columns  - ayomidekay7@gmail.com
  ========================================================================== */

.container {
  max-width: 1344px;
  margin: 0 auto;
}

.container::after {
  content: '';
  clear: both;
  display: table;
}

[class*='col-'] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 100%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 33.33%;
}
.col-4 {
  width: 25%;
}
.col-5 {
  width: 20%;
}
.col-6 {
  width: 16.6%;
}
.col-66 {
  width: 66.66%;
}
.col-7 {
  width: 75%;
}
.col-8 {
  width: 80%;
}

/*==========================================================================
    Header  - ayomidekay7@gmail.com
  ========================================================================== */

.home-header {
  width: 100%;
  display: flex;
  /* max-width: var(--dl-size-size-maxwidth); */
  align-items: center;
  padding: var(--dl-space-space-unit) var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.logo_1 {
  height: 3.5rem;
}

.home-nav {
  display: flex;
}

.navigation-links2-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.home-nav .navigation-links2-nav li {
  margin-left: var(--dl-space-space-twounits);
  padding: var(--dl-space-space-halfunit);
  font-size: 18px;
}

.home-nav .navigation-links2-nav li a,
.home-nav-mobile .navigation-links2-nav li a {
  color: var(--dl-color-davy-gray);
  text-decoration: none;
}

.home-nav .navigation-links2-nav li a:hover,
.home-nav-mobile .navigation-links2-nav li a:hover {
  font-style: italic;
  font-family: 'Lora', serif;
  font-weight: 700;
  color: var(--violet);
  text-decoration: underline;
}

.header_btn {
  background-color: var(--violet);
  color: var(--grey);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.header_btn a {
  color: var(--grey);
}

.header_btn:hover {
  background-color: var(--lightblue);
  color: var(--darkblue);
}

.header_btn a:hover {
  color: var(--darkblue);
}

/*==========================================================================
    Banner  - ayomidekay7@gmail.com
  ========================================================================== */

.banner {
  width: 100%;
  min-height: 75vh;
  /* border: 2px solid yellowgreen; */
  color: var(--dl-color-davy-gray);
  background-repeat: no-repeat;
  padding: var(--dl-space-space-threeunits) var(--dl-space-space-twounits);
  text-align: center;
}

.banner_grid {
  /* border: 3px solid red; */
  /* width: 100%; */
  max-width: var(--dl-size-size-midmaxwidth);
  padding: var(--dl-space-space-halfunit);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  justify-content: center;
}

.banner-text {
  font-family: 'Lora', serif;
  max-width: 500px;
  text-align: left;
  width: 100%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}

.banner-text h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 50px;
}

.banner-text span {
  font-size: 50px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.banner-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  margin-top: 15px;
}

.banner .header_btn {
  margin-top: 15px;
  width: 35%;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.banner .header_btn:hover {
  transform: scale(1.1);
}

.banner_img img {
  border-top-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 50px;
  /* horizontal-offset, vertical-offset, blur-radius & color of the shadow */
  box-shadow: 2px 5px 10px rgba(83, 224, 244, 0.8);
}

.content-divider {
  height: 0.75em;
  margin-bottom: 15px;
  background: linear-gradient(to left, #53e0f4, #6d4bd3, #2a707a);
}

/*==========================================================================
    About  - ayomidekay7@gmail.com
  ========================================================================== */

.about {
  padding: var(--dl-space-space-threeunits) var(--dl-space-space-unit);
  background-color: #fff;
  text-align: center;
}

.about h2 {
  font-size: 38px;
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
  color: var(--violet);
}

.about_grid {
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  justify-content: center;
}

.about_img {
  /* border: 2px solid #2a707a; */
  border-top-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 0px;
  /* horizontal-offset, vertical-offset, blur-radius & color of the shadow */
  box-shadow: 2px 5px 10px rgba(109, 75, 211, 0.8);
}

.about_text {
  font-family: 'Raleway', sans-serif;
  /* width: 100%; */
  max-width: 640px;
  text-align: right;
  display: flex;
  margin-left: var(--dl-space-space-fourunits);
  flex-direction: column;
}

.about_text h1 {
  font-size: 45px;
  font-weight: 500;
  font-weight: 700;
  line-height: 50px;
}

.about_text p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin-top: 10px;
}

/*==========================================================================
    Services  - ayomidekay7@gmail.com
  ========================================================================== */

.services {
  max-width: var(--dl-size-size-maxwidth);
  margin: var(--dl-space-space-threeunits) auto var(--dl-space-space-fiveunits) auto;
  padding: var(--dl-space-space-oneandhalfunits) 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #362569;
  border-top-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 50px;
  color: #ffffff;
}

.services-intro {
  padding: var(--dl-space-space-fourunits) var(--dl-space-space-twounits);
}

.services-intro h2 {
  line-height: 50px;
  margin-bottom: var(--dl-space-space-twoandhalfunits);
}

.services-intro p {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

.btn {
  background-color: var(--lightblue);
  color: var(--darkblue);
  padding: 10px 20px;
  border: none;
  border-radius: var(--dl-radius-radius-radius8);
  cursor: pointer;
  font-size: 1em;
}

.btn:hover {
  background-color: var(--pastelgreen);
  color: var(--violet);
  transform: scale(1.1);
}

.services-grid {
  max-width: 960px;
  height: 512px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f8f9fa;
  color: #2d3e50;
  padding: 20px;
  gap: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

.service-item {
  background-color: #ffffff;
  height: 260px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 2px 5px 10px #304b72;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.service-item .icon {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-item h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 0.9em;
  line-height: 1.5;
}

.service-item:hover {
  /* border: none; */
  box-shadow: 2px 5px 10px #51389e;
  animation: rotate 0.7s ease-in-out both;
}

.service-item:before,
.section-item:after {
  content: '';
  background: #22a6b3;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -80px;
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
  transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.section-item:hover:before,
.section-item:hover:after {
  opacity: 0.15;
}

.section-item:hover:before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.section-item:hover:after {
  transform: translate(50%, 0, 0) scale(1.1);
}

/* animations */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*==========================================================================
    Team  - ayomidekay7@gmail.com
  ========================================================================== */

.team {
  padding: var(--dl-space-space-twoandhalfunits) 0;
  background-color: hsl(260, 10%, 5%);
}

.team h2 {
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
  color: var(--lightblue);
}

.team_container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.team_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.team_item {
  background-color: hsl(260, 10%, 10%);
}

.team_img {
  position: relative;
  overflow: hidden;
}

.team_img img {
  width: 100%;
  vertical-align: middle;
  transition: all .5s ease;
}

.team_item:hover .team_img img {
  transform: scale(1.1);
  filter: brightness(60%) grayscale(100%);
}

.team_links {
  position: absolute;
  left: 0;
  bottom: 30;
  width: 100%;
  text-align: center;
}

.team_links a {
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(183, 67%, 51%);
  text-decoration: none;
  color: hsl(260, 10%, 10%);
  margin: 0 2px;
  transform: translateX(-100px) rotate(90deg);
  transition: all 0.5s ease calc(0.1s * var(--i));
  opacity: 0;
}

.team_item:hover .team_links a {
  transform: translateX(0) translateY(-50px) rotate(0);
  opacity: 1;
}

.team_links i {
  transition: all 0.3s ease;
}

.team_links a:hover i {
  transform: rotate(360deg);
}

.team_text {
  padding: 20px 15px;
  text-align: center;
}

.team_text h3 {
  color: hsl(183, 67%, 51%);
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0 5px;
  font-size: 20px;
}

.team_text p {
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.7);
  text-transform: capitalize;
  font-weight: 300;
}

/*==========================================================================
    Form  - ayomidekay7@gmail.com
  ========================================================================== */

input[type='text'],
input[type='email'],
textarea {
  padding: 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--violet);
  border-radius: 10px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
}

input[type='text'],
input[type='email'] {
  width: 70%;
}

textarea {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 300px;
}

/*==========================================================================
    Contact  - ayomidekay7@gmail.com
  ========================================================================== */

.nav-block .box-shadow {
  margin: 0 0 20px 0;
}

.box-shadow {
  background: #ffffff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
}

.box-shadow span,
.box-line span {
  display: block;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}

.box-shadow p {
  margin-bottom: 20px;
}

.contact-box-shaddow h3 {
  display: block;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--lightgrey);
  margin: 10px 0 20px 0;
}

.contact-box-shaddow h3:before {
  content: '';
  display: block;
  background: url('../images/dignified_care-logo.png') no-repeat;
  background-size: 86%;
  width: 53px;
  height: 45px;
  float: left;
  margin: -5px 10px 0 0;
}

.contact-box-shaddow p {
  font-size: 20px;
  font-weight: 600;
}

.contact-box-shaddow span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--lightgrey);
}

.submit_button {
  background-color: var(--violet);
  width: 50%;
  margin-left: 3.5%;
  color: var(--grey);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--lightblue);
  color: var(--darkblue);
}

/*==========================================================================
    Footer  - ayomidekay7@gmail.com
  ========================================================================== */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

footer ul li {
  margin: 0 15px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr;
    max-width: var(--dl-size-size-tabmaxwidth);
  }

}
