<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Icons/PNG/Artboard 23.png') }}"
      type="image/png"
    />
    <title>Dignified Living Care</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <header id="home" data-role="Header" class="home-header">
      <a href="/"
        ><img
          src="../static/images/Logos/PNG/Artboard 13.png"
          alt="logo_white"
          class="logo_1"
          style="cursor: pointer"
      /></a>
      <nav class="home-nav">
        <ul class="navigation-links2-nav navigation-links">
          <li><a href="#banner">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <div class="home-btn-group">
        <button class="button header_btn">
          <a href="#contact">Contact Us</a>
        </button>
      </div>
    </header>

    <section id="banner" class="banner banner-home">
      <div class="container banner_grid">
        <div class="banner-text">
          <h1>Welcome to</h1>
          <h1>
            <span class="violet"
              >Dignified <em class="lightblue">Living care</em></span
            >
          </h1>
          <p>
            Your well-being is our priority. We provide compassionate care to
            ensure you live with dignity and comfort.
          </p>
          <a href="#contact" class="header_btn">Find out more</a>
        </div>
        <div class="banner_img">
          <img
            src="../static/images/nurse_with-elderly.webp"
            alt="banner_img"
          />
        </div>
      </div>
    </section>
    <div class="content-divider"></div>

    <section id="about" class="about">
      <div class="container">
        <h2>About Us</h2>
        <div class="about_grid">
          <div>
            <img
              src="../static/images/blue_nurse_scrub_with_elderly.png"
              alt="nurse_with-elderly"
              class="about_img"
              style="cursor: pointer"
            />
          </div>
          <div class="about_text">
            <h1>Dignified Living Care</h1>
            <p>
              At Dignified Living Care, we are committed to providing the
              highest quality of care for our clients. Our experienced team
              offers personalized services to meet the unique needs of each
              individual. We believe in promoting independence, dignity, and
              respect for all our clients.
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="content-divider"></div>

    <section id="services" class="services">
      <div class="services-intro">
        <h2>Our Services</h2>
        <p>
          At Dignified Living Care...Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat ut wisi enim ad minim quis, nostrud
          exerci tation
        </p>
        <button class="btn">
          <a href="#contact">Get Started</a>
        </button>
      </div>
      <div class="services-grid">
        <div class="service-item">
          <div class="icon">📈</div>
          <h3>Day Time and Evening Care</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
        <div class="service-item">
          <div class="icon">⚙️</div>
          <h3>Help with basic domestic chores</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
        <div class="service-item">
          <div class="icon">💼</div>
          <h3>Help with shopping excursions</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
        <div class="service-item">
          <div class="icon">💻</div>
          <h3>Help with basic personal care</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
        <div class="service-item">
          <div class="icon">🖥️</div>
          <h3>Help accessing local leisure and social activities</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
        <div class="service-item">
          <div class="icon">❤️</div>
          <h3>Support with cooking meals</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
        <div class="service-item">
          <div class="icon">📈</div>
          <h3>Providing companionship</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
        <div class="service-item">
          <div class="icon">⚙️</div>
          <h3>Support with medication</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
        <div class="service-item">
          <div class="icon">💼</div>
          <h3>Overnight Care</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
        <div class="service-item">
          <div class="icon">💻</div>
          <h3>Specialist Care</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
        <div class="service-item">
          <div class="icon">🖥️</div>
          <h3>24 Hr Live In Care</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
        <div class="service-item">
          <div class="icon">❤️</div>
          <h3>Respite Care</h3>
          <p class="content">
            Nullam varius ultricies auctor. Vivamus nisi enim, pulvinar id
            bibendum sed, pretium sit amet augue.
          </p>
        </div>
      </div>
    </section>

    <section id="team" class="team">
      <h2>Meet our Team</h2>
      <div class="team_container">
        <div class="team_grid">
          <!-- team-item start -->
          <div class="team_item">
            <div class="team_img">
              <img src="../static/images/Team/quadri.jpg" alt="team_img" />
              <div class="team_links">
                <a href="#" style="--i: 0"><i class="fab fa-facebook-f"></i></a>
                <a href="#" style="--i: 1"><i class="fab fa-twitter"></i></a>
                <a href="#" style="--i: 2"><i class="fab fa-instagram"></i></a>
                <a href="#" style="--i: 3"><i class="fab fa-behance"></i></a>
              </div>
            </div>
            <div class="team_text">
              <h3>Quadri Daranijo</h3>
              <p>Web Developer</p>
            </div>
          </div>
          <!-- team_item end -->
          <!-- team-item start -->
          <div class="team_item">
            <div class="team_img">
              <img src="../static/images/Team/nishia.jpg" alt="team_img" />
              <div class="team_links">
                <a href="#" style="--i: 0"><i class="fab fa-facebook-f"></i></a>
                <a href="#" style="--i: 1"><i class="fab fa-twitter"></i></a>
                <a href="#" style="--i: 2"><i class="fab fa-instagram"></i></a>
                <a href="#" style="--i: 3"><i class="fab fa-behance"></i></a>
              </div>
            </div>
            <div class="team_text">
              <h3>Nishia West</h3>
              <p>Founder & CEO</p>
            </div>
          </div>
          <!-- team_item end -->
          <!-- team-item start -->
          <div class="team_item">
            <div class="team_img">
              <img src="../static/images/Team/bash.jpg" alt="team_img" />
              <div class="team_links">
                <a href="#" style="--i: 0"><i class="fab fa-facebook-f"></i></a>
                <a href="#" style="--i: 1"><i class="fab fa-twitter"></i></a>
                <a href="#" style="--i: 2"><i class="fab fa-instagram"></i></a>
                <a href="#" style="--i: 3"><i class="fab fa-behance"></i></a>
              </div>
            </div>
            <div class="team_text">
              <h3>Bash</h3>
              <p>Head of Care Services</p>
            </div>
          </div>
          <!-- team_item end -->
        </div>
      </div>
    </section>

    <section id="contact" class="text-block">
      <div class="container">
        <div class="col-66">
          <h2>Contact Us</h2>
          <h3>What can we help you with?</h3>
          <!-- <div class="status"></div> -->
          <div id="contact-form" class="contact-form">
            <form method="post" action="">
              <input type="text" name="name" placeholder="Your Name" required />
              <input
                type="text"
                name="phone"
                placeholder="Phone number"
                required
              />
              <input
                type="email"
                name="email"
                placeholder="Email address"
                required
              />
              <textarea
                name="message"
                placeholder="Your message"
                required
              ></textarea>

              <button type="submit" class="submit_button">Submit</button>
            </form>
          </div>
        </div>
        <div class="col-3">
          <div class="box-shadow contact-box-shaddow">
            <h3>Contact us</h3>
            <p>Office address</p>
            <span>
              The Studio<br />
              307 Hotwell Road<br />
              Hotwell<br />
              Bristol<br />
              BS8 4NQ
            </span>

            <p>General enquiries</p>
            <span> +44 117 463 3667 </span>

            <p>Recruitment</p>
            <span> +44 117 463 3667 </span>

            <p>Opening hours: 24/7</p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p>&copy; 2024 Dignified Living Care. All rights reserved.</p>
      <ul>
        <li><a href="#hero">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
