<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Join Our Team</title>
  </head>
  <body>
    <!-- Header Section -->
    <header class="home-header">
      <a href="/"
        ><img
          src="../static/images/Logos/PNG/Artboard 13.png"
          alt="logo_white"
          class="logo_1"
          style="cursor: pointer"
      /></a>
      <button class="hamburger" id="hamburger">&#9776;</button>
      <nav class="home-nav" id="nav-menu">
        <ul class="navigation-links2-nav">
          <li><a href="#about">About Us</a></li>
          <li><a href="#positions">Open Positions</a></li>
          <li><a href="#benefits">Why Join Us</a></li>
          <li><a href="#team">Our Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <!-- Banner Section -->
    <section id="banner" class="banner banner-home">
      <div class="container banner_grid">
        <div class="banner-text">
          <h1>Join Our Team</h1>
          <h1>
            <span class="violet"
              >Shape <em class="lightblue">the Future</em> with Us</span
            >
          </h1>
          <p>
            We're looking for talented individuals to join our dynamic team and
            help us achieve our mission. If you're passionate about making a
            difference and want to be part of a team that is shaping the future
            of healthcare, we'd love to hear from you.
          </p>
          <button class="header_btn">
            <a href="#positions">Explore Positions</a>
          </button>
        </div>
        <div class="banner_img">
          <img
            src="../static/images/nurse_sat_with-patient.png"
            alt="Join Us"
          />
        </div>
      </div>
    </section>

    <!-- About Us Section -->
    <section class="about" id="about">
      <div class="container">
        <h2>About Us</h2>
        <div class="about_grid">
          <div>
            <img
              src="../static/images/recruit_about.jpg"
              alt="Recruitment"
              class="about_img"
              style="cursor: pointer"
            />
          </div>
          <div class="about_text">
            <h1>Who We Are</h1>
            <p>
              We are a forward-thinking company committed to making a
              difference. Our mission is to innovate and lead in our industry
              and we are dedicated to providing high-quality care and services
              to our clients. Our team is passionate about improving the lives
              of individuals and making a positive impact in the community.
              <br />
              With a focus on innovation and collaboration, we strive to create
              a supportive and inclusive work environment. Join us and be part
              of a team that is shaping the future of healthcare.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Open Positions Section -->
    <section class="services" id="positions">
      <div class="services-intro">
        <h2>Open Positions</h2>
        <p>
          We are looking for creative and motivated individuals to join our
          team. Check out our current job openings below.
        </p>
      </div>
      <div class="services-grid">
        <!-- will repeat this block for each job position -->
        <div class="service-item">
          <div class="icon">📌</div>
          <h3>Job Title</h3>
          <p>Brief description of the job position.</p>
          <button class="btn">View Details</button>
        </div>
        <!-- End of job position block -->
      </div>
    </section>

    <!-- Why Join Us Section -->
    <section class="about" id="benefits">
      <h2>Why Join Us</h2>
      <div class="about_grid">
        <div>
          <img
            src="../static/images/key_benefits.jpg"
            alt="Benefits"
            class="about_img"
            style="cursor: pointer"
          />
        </div>
        <div class="about_text">
          <h1>Key Benefits</h1>
          <p>
            We offer a range of benefits to ensure our team members are well
            taken care of, including health insurance, flexible working hours,
            and professional development opportunities. Our team members also
            enjoy competitive salaries, a supportive work environment, and
            opportunities for growth and advancement. Join us and be part of a
            team that values your well-being and invests in your success.
          </p>
        </div>
      </div>
    </section>

    <!-- Our Team Section -->
    <section id="team" class="team">
      <h2>Meet our Team</h2>
      <div class="team_container">
        <div class="team_grid">
          <!-- team-item start -->
          <div class="team_item">
            <div class="team_img">
              <img src="../static/images/Team/quadri.jpg" alt="team_img" />
              <div class="team_links">
                <a href="#" style="--i: 0"><i class="fab fa-facebook-f"></i></a>
                <a href="#" style="--i: 1"><i class="fab fa-twitter"></i></a>
                <a href="#" style="--i: 2"><i class="fab fa-instagram"></i></a>
                <a href="#" style="--i: 3"><i class="fab fa-behance"></i></a>
              </div>
            </div>
            <div class="team_text">
              <h3>Quadri Daranijo</h3>
              <p>Web Developer</p>
            </div>
          </div>
          <!-- team_item end -->
          <!-- team-item start -->
          <div class="team_item">
            <div class="team_img">
              <img src="../static/images/Team/nishia.jpg" alt="team_img" />
              <div class="team_links">
                <a href="#" style="--i: 0"><i class="fab fa-facebook-f"></i></a>
                <a href="#" style="--i: 1"><i class="fab fa-twitter"></i></a>
                <a href="#" style="--i: 2"><i class="fab fa-instagram"></i></a>
                <a href="#" style="--i: 3"><i class="fab fa-behance"></i></a>
              </div>
            </div>
            <div class="team_text">
              <h3>Nishia West</h3>
              <p>Founder & CEO</p>
            </div>
          </div>
          <!-- team_item end -->
          <!-- team-item start -->
          <div class="team_item">
            <div class="team_img">
              <img src="../static/images/Team/bash.jpg" alt="team_img" />
              <div class="team_links">
                <a href="#" style="--i: 0"><i class="fab fa-facebook-f"></i></a>
                <a href="#" style="--i: 1"><i class="fab fa-twitter"></i></a>
                <a href="#" style="--i: 2"><i class="fab fa-instagram"></i></a>
                <a href="#" style="--i: 3"><i class="fab fa-behance"></i></a>
              </div>
            </div>
            <div class="team_text">
              <h3>Bash</h3>
              <p>Head of Care Services</p>
            </div>
          </div>
          <!-- team_item end -->
        </div>
      </div>
    </section>

    <!-- Contact Form Section -->
    <section id="contact" class="text-block">
      <div class="container">
        <div class="col-66">
          <h2>Contact Us</h2>
          <h3>What can we help you with?</h3>
          <div id="contact-form" class="contact-form">
            <form method="post" action="">
              <input type="text" name="name" placeholder="Your Name" required />
              <input
                type="tel"
                name="phone"
                placeholder="Phone number"
                required
              />
              <input
                type="email"
                name="email"
                placeholder="Email address"
                required
              />
              <input
                type="file"
                name="cv"
                accept=".pdf,.doc,.docx"
                required />
              <input
                type="file"
                name="recommendation"
                accept=".pdf,.doc,.docx"
              />
              <textarea
                name="message"
                placeholder="Your message"
                required
              ></textarea>

              <button type="submit" class="submit_button">Submit</button>
            </form>
          </div>
        </div>
        <div class="col-3">
          <div class="box-shadow contact-box-shaddow">
            <h3>Contact us</h3>
            <p>Office address</p>
            <span>
              The Studio<br />
              307 Hotwell Road<br />
              Hotwell<br />
              Bristol<br />
              BS8 4NQ
            </span>

            <p>General enquiries</p>
            <span> +44 15 43 9925 </span>

            <p>Recruitment</p>
            <span> +44 15 43 9925 </span>

            <p>Opening hours: 24/7</p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p>&copy; 2024 Dignified Living Care LTD. All rights reserved.</p>
      <!-- <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul> -->
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
